/*@import "normalize.css";*/
body {
  font-family: 'Roboto', sans-serif;
  color: red;
  background: blue;
}
img {
  max-width: 100%;
  height:auto;
}
.large-hero {
  position: relative;
}
.large-hero__text-content {
  position: absolute;
  top: 0;
  left: 0;
}
.test { color:red;}
